<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Hermes</title>
		<style>
			.sili {
				background-color: #cdcdcd;
			}
		</style>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900"
			rel="stylesheet"
		/>
		<link href="default.css" rel="stylesheet" type="text/css" media="all" />
		<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/home.css" />
	</head>

	<body>
		<div id="header-wrapper">
			<div>
				<figure class="snip1566">
					<img
						src="../static/images/immagine.png"
						alt="logo"
						class="image image-full"
					/>
					<figcaption><i class="ion-android-add"></i></figcaption>
					<a href="#"></a>
				</figure>
			</div>

			<div class="sili">
				<figure class="snip1585">
					<img src="../static/images/table.jpg" alt="sample70" />

					<figcaption>
						<h3>Create <span>new order</span></h3>
					</figcaption>

					<a href="/new/" accesskey="1"></a>
				</figure>

				<figure class="snip1585">
					<img src="../static/images/lounge.jpg" alt="sample106" />

					<figcaption>
						<h3>Check orders<span>status</span></h3>
					</figcaption>

					<a href="/openOrders/"></a>
				</figure>

				<figure class="snip1585">
					<img src="../static/images/kitchen.jpg" alt="sample109" />
					<figcaption>
						<h3>Access to the<span>kitchen</span></h3>
					</figcaption>

					<a href="/kitchen/"></a>
				</figure>

				<figure class="snip1585">
					<img src="../static/images/cashier.jpg" alt="sample109" />
					<figcaption>
						<h3><span>check out</span></h3>
					</figcaption>

					<a href="/cashier/"></a>
				</figure>
			</div>
		</div>
	</body>
</html>
